.container-inline-date {
    clear: both;
}
.container-inline-date .form-item {
    float: none;
    margin: 0;
    padding: 0;
}
.container-inline-date > .form-item {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: top;
}
fieldset.date-combo .container-inline-date > .form-item {
    margin-bottom: 10px;
}
.container-inline-date .form-item .form-item {
    float: left;
}
.container-inline-date .form-item,
.container-inline-date .form-item input {
    width: auto;
}
.container-inline-date .description {
    clear: both;
}
.container-inline-date .form-item input,
.container-inline-date .form-item select,
.container-inline-date .form-item option {
    margin-right: 5px;
}
.container-inline-date .date-spacer {
    margin-left: -5px;
}
.views-right-60 .container-inline-date div {
    margin: 0;
    padding: 0;
}
.container-inline-date .date-timezone .form-item {
    clear: both;
    float: none;
    width: auto;
}
.container-inline-date .date-padding {
    float: left;
}
fieldset.date-combo .container-inline-date .date-padding {
    padding: 10px;
}
.views-exposed-form .container-inline-date .date-padding {
    padding: 0;
}
#calendar_div,
#calendar_div td,
#calendar_div th {
    margin: 0;
    padding: 0;
}
#calendar_div,
.calendar_control,
.calendar_links,
.calendar_header,
.calendar {
    border-collapse: separate;
    margin: 0;
    width: 185px;
}
.calendar td {
    padding: 0;
}
span.date-display-single {
}
span.date-display-start {
}
span.date-display-end {
}
.date-prefix-inline {
    display: inline-block;
}
.date-clear {
    clear: both;
    display: block;
    float: none;
}
.date-no-float {
    clear: both;
    float: none;
    width: 98%;
}
.date-float {
    clear: none;
    float: left;
    width: auto;
}
.date-float .form-type-checkbox {
    padding-right: 1em;
}
.form-type-date-select .form-type-select[class*="hour"] {
    margin-left: 0.75em;
}
.date-container .date-format-delete {
    float: left;
    margin-top: 1.8em;
    margin-left: 1.5em;
}
.date-container .date-format-name {
    float: left;
}
.date-container .date-format-type {
    float: left;
    padding-left: 10px;
}
.date-container .select-container {
    clear: left;
    float: left;
}
div.date-calendar-day {
    background: #f3f3f3;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    color: #999;
    float: left;
    line-height: 1;
    margin: 6px 10px 0 0;
    text-align: center;
    width: 40px;
}
div.date-calendar-day span {
    display: block;
    text-align: center;
}
div.date-calendar-day span.month {
    background-color: #b5bebe;
    color: white;
    font-size: 0.9em;
    padding: 2px;
    text-transform: uppercase;
}
div.date-calendar-day span.day {
    font-size: 2em;
    font-weight: bold;
}
div.date-calendar-day span.year {
    font-size: 0.9em;
    padding: 2px;
}
.date-form-element-content-multiline {
    padding: 10px;
    border: 1px solid #ccc;
}
.form-item.form-item-instance-widget-settings-input-format-custom,
.form-item.form-item-field-settings-enddate-required {
    margin-left: 1.3em;
}
#edit-field-settings-granularity .form-type-checkbox {
    margin-right: 0.6em;
}
.date-year-range-select {
    margin-right: 1em;
}
#ui-datepicker-div {
    font-size: 100%;
    font-family: Verdana, sans-serif;
    background: #eee;
    border-right: 2px #666 solid;
    border-bottom: 2px #666 solid;
    z-index: 9999;
}
.ui-datepicker {
    width: 17em;
    padding: 0.2em 0.2em 0;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    float: left;
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
    float: right;
}
.ui-datepicker table {
    width: 100%;
    font-size: 0.9em;
    border-collapse: collapse;
    margin: 0 0 0.4em;
}
.ui-datepicker th {
    padding: 0.7em 0.3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: 0.7em 0 0 0;
    padding: 0 0.2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: 0.5em 0.2em 0.4em;
    cursor: pointer;
    padding: 0.2em 0.6em 0.3em 0.6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto 0.4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
}
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}
.field .field-label {
    font-weight: bold;
}
.field-label-inline .field-label,
.field-label-inline .field-items {
    float: left;
}
form .field-multiple-table {
    margin: 0;
}
form .field-multiple-table th.field-label {
    padding-left: 0;
}
form .field-multiple-table td.field-multiple-drag {
    width: 30px;
    padding-right: 0;
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: 0.5em;
}
form .field-add-more-submit {
    margin: 0.5em 0 0;
}
.node-unpublished {
    background-color: #fff4f4;
}
.preview .node {
    background-color: #ffffea;
}
td.revision-current {
    background: #ffc;
}
.entity-program-award {
}
.entity-program-award .alert {
    border: none;
}
.entity-program-award .field-name-field-college-content {
    margin: 30px 0;
    border-top: 1px #ccc solid;
    padding: 20px 0;
    border-bottom: 1px #ccc solid;
}
.entity-program-award .field-name-field-award-college-announce {
    padding: 10px 10px 15px 15px;
    border: 1px solid #ccc;
    margin-bottom: 1.5em;
    background-color: #e0e0e0;
}
.entity-program-award .field-name-field-award-college-announce h2,
.entity-program-award .field-name-field-award-college-announce h3,
.entity-program-award .field-name-field-award-college-announce h4 {
    margin-top: 0;
}
.entity-program-award .disclaimer-note {
    font-style: italic;
    margin-bottom: 20px;
}
.program-award {
    margin-bottom: 15px;
}
.program-award .field .field--label {
    text-transform: capitalize;
}
.program-award h2:not(:first-of-type) {
    margin-top: 40px;
}
.program-award .group-program-award-details h3,
.program-award .field-name-field-award-comps .field-label,
.program-award .field-name-field-award-prereq .field-label,
.program-award .field-name-field-award-req-crs .field-label,
.program-award .field-name-field-award-rest-elect .field-label,
.program-award .field-name-field-award-free-elect .field-label,
.program-award .field-name-field-award-gen-electives .field-label,
.program-award caption {
    font-size: 1.625em;
    visibility: visible;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.25;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 22px;
    text-transform: capitalize;
    padding: 0;
}
.program-award .group-program-award-details {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: 25px;
    padding-bottom: 10px;
}
.program-award .group-program-award-details > div {
    margin-top: 10px;
}
.program-award .entity-property-major-display .entity-property-label {
    float: left;
}
.program-award .field-name-field-award-desc-seq,
.program-award .field-name-field-award-ged {
    margin-top: 15px;
}
.program-award .field-name-field-award-url {
    margin: 15px 0;
}
.program-award .disclaimer {
    margin-top: 25px;
}
.pathway-map-program {
}
.pathway-map-program .group-program-award-details h3,
.pathway-map-program .field-name-field-award-comps .field-label,
.pathway-map-program .field-name-field-award-rest-elect .field-label,
.pathway-map-program .field-name-field-award-gen-electives .field-label,
.pathway-map-program .field-name-field-award-disclaimer .field-label,
.pathway-map-program .field-name-field-award-req-crs .field-label,
.pathway-map-program .field-name-field-award-admission-criteria .field-label,
.pathway-map-program .field-name-field-award-prerequisite .field-label,
.pathway-map-program .field-name-field-award-footnote h2,
.pathway-map-program .field-name-field-award-archive .field-label,
.pathway-map-program caption {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.625em;
    line-height: 1.25;
    color: #404040;
    margin-top: 30px;
    margin-bottom: 22px;
    padding: 30px 0 10px 0;
    border-top: 1px solid #999999;
}
.pathway-map-program .group-program-award-details h3,
.pathway-map-program .field-name-field-award-footnote h2 {
    font-weight: 700;
}
.pathway-map-program .group-program-award-details h3:first-child {
    margin-bottom: 5px;
}
.pathway-map-program .group-program-award-details {
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}
.pathway-map-program .group-program-award-details .field .field-item {
    margin-left: 0;
    margin-bottom: 10px;
}
.pathway-map-program .group-program-award-details .field-name-field-award-prereq .field-item {
    margin-bottom: 20px;
}
.pathway-map-program .field-name-field-award-footnote table {
    width: 100%;
}
.pathway-map-program .field-name-field-award-footnote .table > tbody > tr > td {
    padding: 8px 15px;
}
.pathway-map-program .program-key {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}
.pathway-map-program .program-key ul {
    padding-left: 0;
    margin-bottom: 0;
}
.pathway-map-program .program-key ul li {
    list-style: none;
}
.pathway-map-program .program-key div {
    flex-basis: 100%;
}
@media screen and (min-width: 992px) {
    .pathway-map-program .program-key div {
        flex: 1;
    }
    .pathway-map-program .program-key div:first-child {
        margin-left: 0;
    }
    .pathway-map-program .program-key div:last-child {
        margin-right: 0;
    }
}
.pathway-map-program #table-award-archive th,
.pathway-map-program #table-award-archive td {
    text-align: right;
}
.pathway-map-program #table-award-archive td:last-child {
    border-left: 1px solid #e0e0e0;
}
.pathway-map-program .tabs .nav-tabs {
    margin-bottom: 0;
    padding-top: 15px;
}
.pathway-map-program .tabs .nav-tabs > li.active > a,
.pathway-map-program .tabs .nav-tabs > li.active > a:hover,
.pathway-map-program .tabs .nav-tabs > li.active > a:focus {
    color: #000;
    cursor: default;
    background-color: #e0e0e0;
    text-decoration: none;
}
.pathway-map-program .tabs .tab-pane {
    background-color: #e0e0e0;
    padding: 0 20px;
}
.pathway-map-program .tabs .tab-pane .type-description {
    margin-top: 15px;
}
.pathway-map-program .tabs .tab-pane h3 {
    font-size: 1.2em;
}
.pathway-map-program .tabs .tab-pane table {
    font-size: 0.95em;
    background-color: #fff;
    border-collapse: unset;
}
.pathway-map-program .tabs .tab-pane table a {
    text-decoration: none;
}
.pathway-map-program .tabs .tab-pane table a:hover,
.pathway-map-program .tabs .tab-pane table a:active {
    text-decoration: underline;
}
.pathway-map-program .tabs .tab-pane table th {
    vertical-align: middle;
    color: #fff;
    background: #002b5c;
    font-weight: bold;
}
.pathway-map-program .tabs .tab-pane table.table-bordered > thead > tr > th,
.pathway-map-program .tabs .tab-pane table.table-bordered > thead > tr > td {
    border-bottom-width: 0;
}
.pathway-map-program .disclaimer {
    margin-top: 15px;
}
@media screen and (max-width: 767px) {
    .pathway-map-program table .course-requisites,
    .pathway-map-program table .course-notes,
    .pathway-map-program table .program-area {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: collapse;
    }
    .pathway-map-program table .course-units {
        width: 12%;
    }
}
.section-programs .hidden {
    display: none;
}
.section-programs .foi-icon-text {
    margin-bottom: 15px;
}
.section-programs .degrees caption {
    display: none;
}
.section-programs .course-sequence-term {
    page-break-after: always;
}
.section-programs .course-sequence-term caption {
    display: none;
}
.section-programs .course-sequence-term .course-number {
    width: 15%;
}
.section-programs .course-sequence-term .course-name {
    width: 30%;
}
.section-programs .course-sequence-term .course-requisites {
    width: 30%;
}
.section-programs .course-sequence-term .course-notes {
    width: 30%;
}
.section-programs .course-sequence-term .course-notes .is-critical {
    display: block;
    border-bottom: 1px solid #e0e0e0;
}
.section-programs .course-sequence-term .course-notes .is-gateway {
    display: block;
    border-bottom: 1px solid #e0e0e0;
}
.section-programs .course-sequence-term .course-notes span:last-child {
    border-bottom: 0;
}
.section-programs .course-sequence-term .course-requisites-hidden {
    display: none;
}
.section-programs .course-sequence-term .view-course-requisites {
    display: block;
}
.section-programs .course-sequence-term .view-course-requisites.hide-course-requisites {
    margin-top: 1.5em;
}
.section-programs .course-sequence-term .course-break {
    margin: 0;
    padding: 0 0 2px;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271030%27%20height%3D%271%27%20viewBox%3D%270%200%201030%201%27%3E%3Cline%20y1%3D%270.5%27%20x2%3D%27500%27%20y2%3D%270.5%27%20style%3D%27fill%3Anone%3Bstroke%3A%23d6d4d1%3Bstroke-miterlimit%3A10%3Bstroke-dasharray%3A4%2C2%27%2F%3E%3Cline%20x1%3D%27530%27%20y1%3D%270.5%27%20x2%3D%271030%27%20y2%3D%270.5%27%20style%3D%27fill%3Anone%3Bstroke%3A%23d6d4d1%3Bstroke-miterlimit%3A10%3Bstroke-dasharray%3A4%2C2%27%2F%3E%3C%2Fsvg%3E");
}
.section-programs .course-sequence-term .program-area {
    text-align: center;
}
.section-programs .course-sequence-term .program-area .course-break {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271030%27%20height%3D%271%27%20viewBox%3D%270%200%201030%201%27%3E%3Cline%20y1%3D%270.5%27%20x2%3D%27505%27%20y2%3D%270.5%27%20style%3D%27fill%3Anone%3Bstroke%3A%23d6d4d1%3Bstroke-miterlimit%3A10%3Bstroke-dasharray%3A4%2C2%27%2F%3E%3Cline%20x1%3D%27525%27%20y1%3D%270.5%27%20x2%3D%271030%27%20y2%3D%270.5%27%20style%3D%27fill%3Anone%3Bstroke%3A%23d6d4d1%3Bstroke-miterlimit%3A10%3Bstroke-dasharray%3A4%2C2%27%2F%3E%3C%2Fsvg%3E");
}
.section-programs .course-sequence-term:term-1 {
    page-break-after: auto;
}
.section-programs .course-sequence-term tfoot tr {
    background: #cccccc;
}
.section-programs .course-sequence-term tfoot tr td {
    padding-left: 10px;
}
.section-programs .course-sequence-option caption {
    display: none;
}
.section-programs .course-sequence-option .course-number {
    width: 15%;
}
.section-programs .course-sequence-option .course-name {
    width: 30%;
}
.section-programs .course-sequence-option .course-requisites {
    width: 30%;
}
.section-programs .course-sequence-option .course-notes {
    width: 30%;
}
.section-programs .course-sequence-option .course-notes .is-critical {
    display: block;
    border-bottom: 1px solid #e0e0e0;
}
.section-programs .course-sequence-option .course-notes .is-gateway {
    display: block;
    border-bottom: 1px solid #e0e0e0;
}
.section-programs .course-sequence-option .course-notes span:last-child {
    border-bottom: 0;
}
.section-programs .course-sequence-option .course-requisites-hidden {
    display: none;
}
.section-programs .course-sequence-option .view-course-requisites {
    display: block;
}
.section-programs .course-sequence-option .view-course-requisites.hide-course-requisites {
    margin-top: 1.5em;
}
.section-programs .course-sequence-option .course-break {
    margin: 0;
    padding: 0 0 2px;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271030%27%20height%3D%271%27%20viewBox%3D%270%200%201030%201%27%3E%3Cline%20y1%3D%270.5%27%20x2%3D%27500%27%20y2%3D%270.5%27%20style%3D%27fill%3Anone%3Bstroke%3A%23d6d4d1%3Bstroke-miterlimit%3A10%3Bstroke-dasharray%3A4%2C2%27%2F%3E%3Cline%20x1%3D%27530%27%20y1%3D%270.5%27%20x2%3D%271030%27%20y2%3D%270.5%27%20style%3D%27fill%3Anone%3Bstroke%3A%23d6d4d1%3Bstroke-miterlimit%3A10%3Bstroke-dasharray%3A4%2C2%27%2F%3E%3C%2Fsvg%3E");
}
.section-programs .course-sequence-option .program-area {
    text-align: center;
}
.section-programs .course-sequence-option .program-area .course-break {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%271030%27%20height%3D%271%27%20viewBox%3D%270%200%201030%201%27%3E%3Cline%20y1%3D%270.5%27%20x2%3D%27505%27%20y2%3D%270.5%27%20style%3D%27fill%3Anone%3Bstroke%3A%23d6d4d1%3Bstroke-miterlimit%3A10%3Bstroke-dasharray%3A4%2C2%27%2F%3E%3Cline%20x1%3D%27525%27%20y1%3D%270.5%27%20x2%3D%271030%27%20y2%3D%270.5%27%20style%3D%27fill%3Anone%3Bstroke%3A%23d6d4d1%3Bstroke-miterlimit%3A10%3Bstroke-dasharray%3A4%2C2%27%2F%3E%3C%2Fsvg%3E");
}
.section-programs table.program-awareness-areas thead tr th {
    padding-left: 15px;
}
.section-programs table.program-awareness-areas caption {
    display: none;
}
.section-programs table.program-awareness-areas td {
    padding: 1.5em;
}
.section-programs table.program-awareness-areas td ul ul {
    padding-top: 0.5em;
    padding-left: 2em;
}
.section-programs .soc-table caption {
    display: none;
}
.section-programs .hide-caption caption {
    display: none;
}
.section-programs .has-course-sequence-options tbody tr:nth-child(even) {
    background: #fff;
}
.section-programs .has-course-sequence-options th.course-number {
    border-left: 5px solid #002b5c;
}
.section-programs .has-course-sequence-options tfoot td {
    border-left: 5px solid #e5e0dc;
}
.section-programs .has-course-sequence-options tfoot .option-course {
    border-left: 5px solid #004c97;
}
.section-programs .has-course-sequence-options .term-units td {
    border-left: 5px solid #fff;
}
.section-programs .has-course-sequence-options td.course-number {
    border-left: 5px solid #fff;
}
.section-programs .has-course-sequence-options .is-link .course-number,
.section-programs .has-course-sequence-options .is-optional .course-number {
    border-left: 5px solid #999999;
}
.section-programs .has-course-sequence-options .option-course .course-number {
    border-left: 5px solid #004c97;
}
.section-programs .course-sequence-options-intro {
    padding: 0 1.4em;
    margin-bottom: 2em;
    background: #e0e0e0;
    border: 1px solid #cccccc;
}
.section-programs .course-sequence-options-intro .blue-border {
    color: #002b5c;
    font-weight: 600;
}
.section-programs .course-sequence-options-intro .grey-border {
    font-weight: 600;
}
.section-programs .course-sequence-options-intro .gray-border {
    font-weight: 600;
}
.section-programs .course-sequence-options-intro .options-list ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5em;
}
.section-programs .course-sequence-options-intro .options-list ul ul {
    margin-top: 0.75em;
    margin-left: 33px;
}
.section-programs .course-sequence-options-intro .options-list li {
    margin: 0;
    padding: 0;
    margin-bottom: 0.75em;
    list-style: none;
}
.section-programs .course-sequence-options-intro .options-list li a {
    display: block;
    padding: 0.5em 0.7em;
    text-decoration: none;
}
.section-programs .course-sequence-options-intro .options-list li.option-item-parent {
    font-weight: 600;
    margin-bottom: 0.75em;
}
.section-programs .course-sequence-options-intro .options-list li.option-item-parent span {
    display: block;
    overflow: auto;
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
}
.section-programs .course-sequence-options-intro .options-list li.option-item-parent a.option-list-item-parent {
    margin-left: 32px;
    color: #7a756c;
    background: #fff;
}
.section-programs .course-sequence-options-intro .options-list li.option-item {
    border: 1px solid #e0e0e0;
    background: #f2f2f2;
    overflow: auto;
    margin-left: 33px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cpolygon%20points%3D%2210.93%2023.13%2019.07%2014.97%2010.93%206.88%2010.93%2023.13%22%20style%3D%22fill%3A%23fff%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: -30px 0;
    background-size: 30px 100%;
    -webkit-transition: border 100ms ease-in-out, background-color 200ms ease-in-out, background-position 250ms ease-in-out;
    transition: border 100ms ease-in-out, background-color 200ms ease-in-out, background-position 250ms ease-in-out;
}
.section-programs .course-sequence-options-intro .options-list li.option-item span {
    display: block;
    overflow: auto;
    margin: 0 0 0 32px;
    background: #fff;
}
.section-programs .course-sequence-options-intro .options-list li.option-item a.option-list-item {
    float: left;
    width: 70%;
    text-decoration: none;
    color: #7a756c;
    background: #fff;
}
.section-programs .course-sequence-options-intro .options-list li.option-item a.option-list-item#option-list-base {
    float: none;
    width: auto;
}
.section-programs .course-sequence-options-intro .options-list li.option-item a.option-link {
    float: right;
    display: none;
    color: #002b5c;
}
.section-programs .course-sequence-options-intro .options-list li.option-item a.option-link:focus {
    opacity: 0.5;
}
.section-programs .course-sequence-options-intro .options-list li.option-item a.option-link:hover {
    opacity: 0.5;
}
.section-programs .course-sequence-options-intro .options-list li.option-item:focus {
    border: 1px solid #004c97;
}
.section-programs .course-sequence-options-intro .options-list li.option-item:focus a {
    color: #002b5c;
}
.section-programs .course-sequence-options-intro .options-list li.option-item:hover {
    border: 1px solid #004c97;
}
.section-programs .course-sequence-options-intro .options-list li.option-item:hover a {
    color: #002b5c;
}
.section-programs .course-sequence-options-intro .options-list li.option-item.option-item-base {
    margin-left: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2030%2030%22%3E%3Cpolygon%20points%3D%226.88%2010.93%2015.03%2019.07%2023.13%2010.93%206.88%2010.93%22%20style%3D%22fill%3A%23fff%22%2F%3E%3C%2Fsvg%3E");
}
.section-programs .course-sequence-options-intro .options-list li.option-item.option-active {
    font-weight: 700;
    border: 1px solid #004c97;
    background-color: #004c97;
    background-position: 1px 0;
}
.section-programs .course-sequence-options-intro .options-list li.option-item.option-active a.option-list-item {
    color: #002b5c;
}
.section-programs .course-sequence-options-intro .options-list li.option-item.option-active a.option-list-item:hover {
    opacity: 0.5;
}
.section-programs .course-sequence-options-intro .options-list li.option-item.option-active a.option-link {
    display: block;
    color: #002b5c;
    background: #fff;
}
.section-programs .options-detail .tabs h3 {
    margin-top: 0.5em;
}
.section-programs .course-sequence-details dt {
    font-weight: bold;
}
.section-programs .course-sequence-details dd {
    margin-bottom: 0.5em;
}
.section-programs .soc-div .soc-statistic {
    margin-bottom: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.section-programs .soc-div .soc-statistic .soc-header {
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    padding: 1em;
    background: #e0e0e0;
}
.section-programs .soc-div .soc-statistic .soc-header .soc-title {
    float: left;
    max-width: 65%;
    margin: 0;
}
.section-programs .soc-div .soc-statistic .soc-header .soc-median {
    float: right;
    max-width: 35%;
    margin: 0;
    white-space: nowrap;
}
.section-programs .soc-div .soc-statistic .soc-header:focus,
.section-programs .soc-div .soc-statistic .soc-header:hover {
    background: #cccccc;
}
.section-programs .soc-div .soc-statistic .soc-detail {
    clear: both;
    padding: 1em;
}
.section-programs .soc-div .soc-statistic .soc-detail .soc-chart {
    margin-left: -1em;
    margin-right: -1em;
}
.section-programs .soc-div .soc-statistic .toggle {
    display: inline-block;
    width: 20px;
    height: 15px;
    padding: 0 0 0 1em;
    text-decoration: none;
    color: #7a756c;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyMCAyMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjAgMjA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojNjY2NjY2O30KCS5zdDF7Zm9udC1mYW1pbHk6J01vbnRzZXJyYXQtQmxhY2snO30KCS5zdDJ7Zm9udC1zaXplOjM1LjAyMDVweDt9Cjwvc3R5bGU+Cjx0ZXh0IHRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIDEgMC45MTkyIDIxLjM3OTcpIiBjbGFzcz0ic3QwIHN0MSBzdDIiPis8L3RleHQ+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTU3LjYsMTMuOWwtMy41LDMuNWwtNC00bC00LDRsLTMuNS0zLjVsNC00bC00LTRsMy41LTMuNWw0LDRsNC00TDU3LjYsNmwtNCw0TDU3LjYsMTMuOXoiLz4KPC9nPgo8L3N2Zz4K");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.section-programs .soc-div .soc-statistic .expanded .toggle {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyMCAyMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjAgMjA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojNjY2NjY2O30KPC9zdHlsZT4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTcuNSwxMy45TDE0LDE3LjRsLTQtNGwtNCw0bC0zLjUtMy41bDQtNGwtNC00TDYsMi40bDQsNGw0LTRMMTcuNSw2bC00LDRMMTcuNSwxMy45eiIvPgo8L2c+Cjwvc3ZnPgo=");
}
.section-programs .soc-div .soc-statistic .column-stats {
    margin-bottom: 1em;
    display: flex;
}
.section-programs .soc-div .soc-statistic .column-stats .column-stats-numeric {
    flex-basis: 100%;
}
.section-programs .soc-div .soc-statistic .column-stats h3 {
    text-align: center;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    color: #404040;
}
.section-programs .soc-div .soc-statistic .column-stats p {
    text-align: center;
}
.section-programs .soc-div .soc-statistic p.employment-growth-increase {
    display: inline-block;
    padding-left: 1.5em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016.48%2015%22%3E%3Cpolygon%20points%3D%224.95%208.24%204.95%2015%2011.54%2015%2011.54%208.24%2016.48%208.24%208.24%200%200%208.24%204.95%208.24%22%20style%3D%22fill%3A%23006600%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px 100%;
}
.section-programs .soc-div .soc-statistic p.employment-growth-decrease {
    display: inline-block;
    padding-left: 1.5em;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016.48%2015%22%3E%3Cpolygon%20points%3D%2211.54%206.76%2011.54%200%204.95%200%204.95%206.76%200%206.76%208.24%2015%2016.48%206.76%2011.54%206.76%22%20style%3D%22fill%3A%23660000%22%2F%3E%3C%2Fsvg%3E");
}
.section-programs .soc-div .soc-statistic .career-coach-link {
    text-align: center;
}
.section-programs .soc-div .soc-data {
    margin-bottom: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.section-programs .soc-div .soc-data .soc-header {
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    padding: 1em;
    background: #e5e0dc;
}
.section-programs .soc-div .soc-data .soc-header .soc-title {
    float: left;
    max-width: 65%;
    margin: 0;
}
.section-programs .soc-div .soc-data .soc-header .soc-median {
    float: right;
    max-width: 35%;
    margin: 0;
    white-space: nowrap;
}
.section-programs .soc-div .soc-data .soc-header:focus {
    background: #f0edeb;
}
.section-programs .soc-div .soc-data .soc-header:hover {
    background: #f0edeb;
}
.section-programs .soc-div .soc-data .soc-detail {
    clear: both;
    padding: 1em;
}
.section-programs .soc-div .soc-data .soc-detail .soc-chart {
    margin-left: -1em;
    margin-right: -1em;
}
.section-programs .soc-div .soc-data .toggle {
    display: inline-block;
    width: 20px;
    height: 15px;
    padding: 0 0 0 1em;
    text-decoration: none;
    color: #7a756c;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2015%2015%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20rx%3D%223.5%22%20ry%3D%223.5%22%20fill%3D%22%230858ab%22%2F%3E%3Cline%20x1%3D%222.5%22%20y1%3D%227.5%22%20x2%3D%2212.5%22%20y2%3D%227.5%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%222%22%2F%3E%3Cline%20x1%3D%227.5%22%20y1%3D%2212.5%22%20x2%3D%227.5%22%20y2%3D%222.5%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.section-programs .soc-div .soc-data .expanded .toggle {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2015%2015%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20rx%3D%223.5%22%20ry%3D%223.5%22%20fill%3D%22%230858ab%22%2F%3E%3Cline%20x1%3D%222.5%22%20y1%3D%227.5%22%20x2%3D%2212.5%22%20y2%3D%227.5%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E");
}
.section-programs .soc-div .soc-data .column-stats {
    margin-bottom: 1em;
    text-align: center;
}
.section-programs .soc-div .soc-data .column-stats h3 {
    text-align: center;
}
.section-programs .soc-div .soc-data .column-stats p {
    text-align: center;
}
.section-programs .soc-div .soc-data p.employment-growth-increase {
    display: inline-block;
    padding-left: 1.5em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016.48%2015%22%3E%3Cpolygon%20points%3D%224.95%208.24%204.95%2015%2011.54%2015%2011.54%208.24%2016.48%208.24%208.24%200%200%208.24%204.95%208.24%22%20style%3D%22fill%3A%23006600%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px 100%;
}
.section-programs .soc-div .soc-data p.employment-growth-decrease {
    display: inline-block;
    padding-left: 1.5em;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016.48%2015%22%3E%3Cpolygon%20points%3D%2211.54%206.76%2011.54%200%204.95%200%204.95%206.76%200%206.76%208.24%2015%2016.48%206.76%2011.54%206.76%22%20style%3D%22fill%3A%23660000%22%2F%3E%3C%2Fsvg%3E");
}
.section-programs .soc-div .soc-data .career-coach-link {
    text-align: center;
}
.section-programs .soc-div cite {
    display: block;
    margin: 0 auto 1em;
}
.section-programs .course-sequence-options-intro .options-list li.option-item a.option-list-item {
    float: none;
    width: auto;
}
.section-programs .course-sequence-options-intro .options-list li.option-item.option-active a.option-link {
    clear: both;
    float: none;
    border-top: 1px solid #e0e0e0;
}
.section-programs .section-programs th.type {
    display: none;
}
.section-programs .section-programs td.type {
    display: none;
}
.section-programs #tabs-programs .abbrev {
    display: block;
}
.section-programs .list-by-degree-online-standalone .abbrev {
    display: block;
}
@media (min-width: 555px) {
    .section-programs .section-programs th.type {
        display: table-cell;
    }
    .section-programs .section-programs td.type {
        display: table-cell;
    }
    .section-programs #tabs-programs .abbrev {
        display: none;
    }
    .section-programs .list-by-degree-online-standalone .abbrev {
        display: none;
    }
}
@media (min-width: 888px) {
    .section-programs .course-sequence-options-intro .options-list li.option-item a.option-list-item {
        float: left;
        width: 65%;
    }
}
@media (min-width: 999px) {
    .section-programs .course-sequence-options-intro .options-list li.option-item.option-active a.option-link {
        clear: none;
        float: right;
        border-top: 0;
    }
}
@media (min-width: 1111px) {
    .section-programs .course-sequence-options-intro .options-list li.option-item a.option-list-item {
        float: left;
        width: 74%;
    }
}
.view-fields-of-interest caption {
    padding-left: 7px;
    font-weight: bold;
}
.field-name-field-foi-college-descr {
    padding-top: 15px;
    margin-bottom: 50px;
}
.entity-program-program .program-note {
    font-style: italic;
}
.entity-program-program .field-name-field-program-college-descr {
    padding-top: 15px;
    margin-bottom: 50px;
}
.entity-program-program .field-name-field-program-description .field-label,
.entity-program-program .field-name-field-program-college-descr .field-label {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.625em;
    line-height: 1.25;
    color: #404040;
    margin-bottom: 20px;
    font-weight: 500;
}
.entity-program-program .table > thead > tr > th {
    border-bottom-width: 1px;
}
.view-program-programs-a-z .view-content {
    columns: 250px 3;
    column-gap: 4em;
    padding-top: 30px;
}
.view-program-programs-a-z .view-content .letter-group {
    break-inside: avoid;
    margin-bottom: 35px;
}
.view-program-programs-a-z .view-content h3:first-of-type {
    margin-top: 0;
}
.views-exposed-form .views-exposed-widget {
    float: left;
    padding: 0.5em 1em 0 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}
.views-exposed-form .form-item,
.views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}
.views-exposed-form label {
    font-weight: bold;
}
.views-exposed-widgets {
    margin-bottom: 0.5em;
}
.views-align-left {
    text-align: left;
}
.views-align-right {
    text-align: right;
}
.views-align-center {
    text-align: center;
}
.views-view-grid tbody {
    border-top: none;
}
.view .progress-disabled {
    float: none;
}
.rteindent1 {
    margin-left: 40px;
}
.rteindent2 {
    margin-left: 80px;
}
.rteindent3 {
    margin-left: 120px;
}
.rteindent4 {
    margin-left: 160px;
}
.rteleft {
    text-align: left;
}
.rteright {
    text-align: right;
}
.rtecenter {
    text-align: center;
}
.rtejustify {
    text-align: justify;
}
.ibimage_left {
    float: left;
}
.ibimage_right {
    float: right;
}
